# Python deltalake get_add_actions

In [1]:
from deltalake import write_deltalake, DeltaTable
import pandas as pd

## Unpartitioned table

In [2]:
df = pd.DataFrame({"num": [1, 2, 3, 1], "letter": ["a", "b", "c", "d"]})

In [4]:
write_deltalake("tmp/my-unpartitioned-table", df)

In [5]:
dt = DeltaTable("tmp/my-unpartitioned-table")
dt.get_add_actions(flatten=True).to_pandas()

,path,size_bytes,modification_time,data_change,num_records,null_count.num,min.num,max.num,null_count.letter,min.letter,max.letter
0,0-d07741ac-fc77-44ea-ab79-0954a1c4bbc8-0.parquet,875,2024-01-08 22:37:51.347,True,4,0,1,3,0,a,d

## Partitioned table

In [6]:
df = pd.DataFrame({"num": [1, 2, 3, 1], "letter": ["a", "b", "c", "d"]})

In [7]:
write_deltalake("tmp/my-partitioned-table", df, partition_by=["num"])

In [8]:
dt = DeltaTable("tmp/my-partitioned-table")
dt.get_add_actions(flatten=True).to_pandas()

,path,size_bytes,modification_time,data_change,partition.num,num_records,null_count.num,min.num,max.num,null_count.letter,min.letter,max.letter
0,num=3/0-b4e748c0-44d9-4fe9-b1c3-657b7060e29d-0...,462,2024-01-08 22:42:19.201,True,3,1,None,None,None,0,c,c
1,num=1/0-b4e748c0-44d9-4fe9-b1c3-657b7060e29d-0...,472,2024-01-08 22:42:19.205,True,1,2,None,None,None,0,a,d
2,num=2/0-b4e748c0-44d9-4fe9-b1c3-657b7060e29d-0...,462,2024-01-08 22:42:19.205,True,2,1,None,None,None,0,b,b